<% case action_name %>
<% when "paso2" %>
	<% @atras = "paso1" %>
	<% @siguiente = "paso3" %>
<% when "paso3" %>
	<% @atras = "paso2" %>
	<% @siguiente = "paso4" %>
<% when "paso4" %>
	<% @atras = "paso3" %>
	<% @siguiente = "paso5" %>
<% end %>

<div class='well'>
	<%= link_to t('.back', :default => t("helpers.links.back")), {:action => @atras}, :class => 'btn pull-left'%>
	<%= link_to "Siguiente", {:action => @siguiente}, :class => 'btn btn-primary pull-right' %>	
</div>
