<% if @informe %>
	<% @siguiente = "paso4/#{@informe.id}" %>
<% else %>
	<% @siguiente = "paso3_guardar" %>
<% end %>
<div class='well'>
	<%= link_to t('.back', :default => t("helpers.links.back")), {:action => "paso2b"}, :class => 'btn pull-left'%>
	<%= link_to "Siguiente", {:action => @siguiente}, :class => 'btn btn-primary pull-right' %>	
</div>



<%= render :partial => 'resumenes/estructurados' %>
<%= render :partial => 'resumenes_sin_tema' if @resumenes_sin_tema.count > 0 %>