<div style = "text-align: right">
<%= button_to "siguiente", {:action => "paso3"}, :class => 'btn btn-primary' %>	
</div>

<%= render :partial => 'resumenes/estructurados' %>
<%= render :partial => 'resumenes_sin_tema' if @resumenes_sin_tema.count > 0 %>