<%- model_class = Informe -%>
<div class="page-header">
	<%= link_to t('Ver Informer', :default => t("helpers.links.back")),
              informes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_informe_path(@informe), :class => 'btn' %>	
  <%= link_to t('enviar por correo'),
              {:controller => 'informes', :action => "enviar_por_correo/#{@informe.id}" }, :class => 'btn btn-success'  %>	
</div>

<div class="well">
	<%= render :partial => 'contenido' %>
</div>
